<h1>會員登錄</h1>

<%= form_for(@user, url: '/') do |f| %>


<div class="field">
<%= f.lable :email %>
<%= f.email_filed :email %>   
</div>

<div class="field">
<%= f.lable :password %>
<%= f.password_filed :password %>
</div>


<div class="field">
<%= f.lable :account %>
<%= f.text_filed :account %>   
</div>


<%= f.submit "login" %>

<% end %>