<h1>註冊會員</h1>

<%= form_for(@user, url: "/users") do |f| %>

<div class="field">
<%= f.lable :email %>
<%= f.email_filed :email %>   
</div>

<div class="field">
<%= f.lable :password %>
<%= f.password_filed :password %>
</div>

<div class="field">
<%= f.lable :password_confirmation %>
<%= f.password_filed :password_confirmation %>    
</div>


<div class="field">
<%= f.lable :account %>
<%= f.text_filed :account %>   
</div>


<%= f.submit %>


<% end %>
